# Archivo: .env.example (ESTE SÍ SE SUBE A GIT)
SECRET_KEY="cambiar_en_produccion"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=43200
GROQ_API_KEY="tu_api_key_de_groq_aqui"
GROQ_MODEL="qwen/qwen3.6-27b"
DATABASE_URL="sqlite:///./db/data/nutrition.db"
GOOGLE_CLIENT_ID="tu_google_client_id_aqui"
CLOUDINARY_CLOUD_NAME="tu_cloudinary_name"
CLOUDINARY_API_KEY="tu_cloudinary_key"
CLOUDINARY_API_SECRET="tu_cloudinary_secret"
GROQ_VISION_MODEL="qwen/qwen3.6-27b"
PEXELS_API_KEY="tu_pexels_key_aqui"
GEMINI_API_KEY="tu_api_key_de_google_aqui"
GEMINI_MODEL="gemini-3.6-flash"